 
  .pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  
  .pokemon-card {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
  }
  
  .pokemon-card:hover {
    transform: scale(1.05);
  }
  
  .pokemon-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  

  .pokemon-details {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pokemon-details.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

